sudo: false
language: php
php:
  - 5.5
  - 5.6
  - 7.0

before_script:
  - composer self-update
  - composer install --prefer-source
  - php vendor/bin/phpcs --config-set ignore_warnings_on_exit 1
  - mkdir -p build/logs
script:
  - php vendor/bin/phpunit -c phpunit.xml.dist
  - php vendor/bin/phpcs --standard=PSR2 ./src/ ./tests/
after_script:
  - php vendor/bin/coveralls -v
