<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/Bootstrap.php">
    <testsuites>
        <testsuite name="playgroundgameC">
            <directory>./tests/PlaygroundGameTest/Controller</directory>
        </testsuite>
        <testsuite name="playgroundgameE">
            <directory>./tests/PlaygroundGameTest/Entity</directory>
        </testsuite>
        <testsuite name="playgroundgameF">
            <directory>./tests/PlaygroundGameTest/Form</directory>
        </testsuite>
        <testsuite name="playgroundgameM">
            <directory>./tests/PlaygroundGameTest/Mapper</directory>
        </testsuite>
        <testsuite name="playgroundgameS">
            <directory>./tests/PlaygroundGameTest/Service</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <directory suffix=".php">./src/PlaygroundGame</directory>
            <exclude>
                <directory suffix=".php">./tests/</directory>
            </exclude>
        </whitelist>
    </filter>
 
    <logging>
        <log type="coverage-html" target="build/logs/coverage" lowUpperBound="40" highLowerBound="80" />
        <log type="coverage-clover" target="build/logs/clover.xml" />
        <log type="junit" target="build/logs/junit.xml" />
    </logging>
</phpunit>
