<?php
$playgroundgame = array(

		/**
		 * Drive path to the directory where game media files will be stored
		 */
		'media_path' => 'public' . DIRECTORY_SEPARATOR . 'media' . DIRECTORY_SEPARATOR . 'game',

		/**
		 * Url relative path to the directory where game media files will be stored
		 */
		'media_url' => 'media/game',

        /**
		 * Email Address that will appear in the 'From' of outbound emails
		 *
		 * Default: empty
		 */		
		'email_from_address' => array(
			'email' => 'no-reply@to.me',
			'name' => 'Admin',
		),
		
        'participationSubjectLine' => 'Jeu concours',
        'shareCommentSubjectLine' => 'Venez découvrir le commentaire',
		'sharePostSubjectLine' => 'Venez découvrir la participation',
        'inviteToteamSubjectLine' => 'Rejoins mon équipe',
        'onInvitationField' => 'code'
);

/**
 * You do not need to edit below this line
 */
return array(
    'playgroundgame' => $playgroundgame,
);
